<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top p-0">
    <!-- Brand -->
    <a class="navbar-brand ml-4 " href="#">
        <div class="font">
            <h3>VEHICLE-CHECK</h3>
        </div>
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->



    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav topnav">
            <li class="nav-item m-2">
                <button class="btn btn-primary py-0" data-toggle="modal" data-target="#exampleModal"><a class="nav-link  text-body" >Register</a></button>
            </li>
            <li class="nav-item m-2">
                <button class="btn btn-primary py-0" data-toggle="modal" data-target="#exampleModal1"><a class="nav-link text-body" >Login</a></button>
            </li>
        </ul>
    </div>
</nav>