<!--<div class="input-group mb-3">
    <button type="button"  class="btn btn-default btn-success btn-block" data-target="#ResetPasswordModal"  data-toggle="modal" >  Password</button>
    </div>-->


<div class="modal" id="ResetPasswordModal" tabindex="-1">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password </h5>
                <button class="close" id="cancel1" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formResetPassword" autocomplete="off">
                    <div class="input-group mb-3">
                        <div class="input-group-append ">
                            <div class="input-group-text"><span class="fas fa-lock"></span></div>
                        </div>
                        <input type="password" formControlName="NewPassword" class="form-control" placeholder=" New Password">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append ">
                            <div class="input-group-text"><span class="fas fa-lock"></span></div>
                        </div>
                        <input type="password" formControlName="ResetPassword" class="form-control" placeholder=" Confirm Password">
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" [disabled]='!formResetPassword.valid' id="reset" class="btn btn-info btn-block btn-flat form-control ">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>